.loadingContainer {
  margin: 200px auto;
  text-align: center;
  font-size: 2rem;
}

.root {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin: 8px;
}

@media only screen and (max-width: 600px) {
  .root {
    flex-wrap: wrap;
  }
}

.title {
  word-break: break-word;
  min-width: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 8px;
  margin-bottom: 8px;
}

.author {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  padding: 8px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
}

.label {
  padding: 0 8px;
  border-radius: 2em;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.actionSection {
  display: flex;
  column-gap: 4px;
}

.actionSection:not(:last-child) {
  margin-bottom: 8px;
}

.actionSection:last-child {
  align-self: flex-end;
}

.timeAgo {
  font-size: 12px;
}
